@import '../../style/variables.scss';

.projects {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 220px;

  .text {
    text-align: center;
  }

  .title {
    font-weight: 700;
    font-size: 48px;
    line-height: 26px;
    color: $solid_heading;
  }

  .sub_title {
    font-weight: 400;
    font-size: 32px;
    line-height: 26px;
    color: $dark_content;
    margin-top: 50px;
  }

  .projects_list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(374px, 1fr));
    row-gap: 40px;
    column-gap: 40px;
    grid-auto-flow: dense;
    align-items: center;
    justify-items: center;
    width: 100%;
    margin-top: 100px;
    justify-content: center;
  }

  &.dark {
    .title {
      color: $solid_heading_dark;
    }
    .sub_title {
      color: $light_content;
    }
  }

  .project_btn {
    width: 100%;
    max-width: 250px;
    margin-top: 50px;
    background: $gradient_heading;
    animation: gradientAnimation 5s infinite linear; // 10s - скорость анимации
    background-size: 400%;
    font-size: 20px;
    border-radius: 10px;
    padding: 15px 0;
    color: #fff;
    transition: all 0.2s ease 0s;
    text-align: center;
    vertical-align: sub;
    &:hover {
      filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    }
  }

  @keyframes gradientAnimation {
    0% {
      background-position: 80% 0%;
    }
    50% {
      background-position: 20% 100%;
    }
    100% {
      background-position: 80% 0%;
    }
  }
}

@media (max-width: 1024px) {
  .projects {
    margin-top: 150px;
    .title {
      font-size: 42px;
      line-height: 50px;
    }
    .sub_title {
      font-size: 26px;
      line-height: 26px;
      margin-top: 20px;
    }

    .project_btn {
      max-width: 250px;
      margin-top: 50px;
      font-size: 20px;
      border-radius: 10px;
      height: 50px;
    }
  }
}

@media (max-width: 880px) {
  .projects {
    margin-top: 150px;
    .title {
      font-size: 38px;
      line-height: 45px;
    }
    .sub_title {
      font-size: 26px;
      line-height: 26px;
      margin-top: 20px;
    }
    .projects_list {
      grid-template-columns: repeat(auto-fit, minmax(374px, 1fr));
      row-gap: 40px;
      column-gap: 40px;
      margin-top: 50px;
    }
  }
}

@media (max-width: 728px) {
  .projects {
    margin-top: 100px;
    .title {
      font-size: 32px;
      line-height: 39px;
    }
    .sub_title {
      font-size: 20px;
      line-height: 24px;
      margin-top: 10px;
    }

    .project_btn {
      max-width: 180px;
      margin-top: 20px;
      font-size: 16px;
      border-radius: 10px;
      padding: 10px 0;
    }
  }
}

@media (max-width: 628px) {
  .projects {
    margin-top: 100px;
    .title {
      font-size: 28px;
      line-height: 33px;
    }
    .sub_title {
      font-size: 18px;
      line-height: 22px;
      margin-top: 10px;
    }
  }
}

@media (max-width: 550px) {
}

@media (max-width: 480px) {
}

@media (max-width: 425px) {
}

@media (max-width: 375px) {
}
