.container{
    max-width: 1260px;
    padding: 0 20px;
    margin: 0 auto;
    z-index: 10;
    position: relative;
}

body{
    background-color: #fff;
}

body.dark{
    background-color: #191919;
}

@media(max-width: 1280px){
    .container{
        max-width: 1020px;
        padding: 0 20px;
    }
}

@media(max-width: 1024px){
    .container{
        max-width: 900px;
        padding: 0 20px;
    }
}

@media(max-width: 880px){}

@media(max-width: 769px){}

@media(max-width: 600px){}

@media(max-width: 550px){}

@media(max-width: 480px){}

@media(max-width: 425px){}

@media(max-width: 375px){}