@import '../../style/variables.scss';

.main {
  .intro {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 180px;
  }

  .intro_title {
    font-weight: 700;
    font-size: 58px;
    line-height: 70px;
    letter-spacing: -1px;
    color: $solid_heading;
  }

  &.dark {
    .intro_title {
      color: $light_titles;
    }
  }

  .gradient {
    background: $gradient_heading;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    animation: gradientAnimation 5s infinite linear; // 10s - скорость анимации
    background-size: 400%;
  }

  @keyframes gradientAnimation {
    0% {
        background-position: 80% 0%;
    }
    50% {
        background-position: 20% 100%;
    }
    100% {
        background-position: 80% 0%;
    }
}

  .intro_img {
    width: 100%;
    max-width: 350px;
    border-radius: 50%;
    background: $gradient_heading;
    border: 9px solid transparent;
    background-origin: border-box;
    animation: gradientAnimation 5s infinite linear; // 10s - скорость анимации
    background-size: 400%;
  }
}


@media(max-width: 1540px){
  .main {
    .intro_title {
      font-size: 54px;
      line-height: 65px;
    }
    .intro_img {
      max-width: 325px;
    }

  }
}

@media(max-width: 1024px){
  .main {
    .intro_title {
      font-size: 42px;
      line-height: 50px;
    }
    .intro_img {
      max-width: 280px;
      border: 6px solid transparent;
    }
    .intro {
      margin-top: 130px;
    }

  }
}

@media(max-width: 880px){
  .main {
    .intro_title {
      font-size: 38px;
      line-height: 45px;
    }
    .intro_img {
      max-width: 250px;
      border: 6px solid transparent;
    }
    .intro {
      margin-top: 100px;
    }
  }
}

@media(max-width: 728px){
  .main {
    .intro_title {
      font-size: 32px;
      line-height: 39px;
    }
    .intro_img {
      max-width: 220px;
      border: 6px solid transparent;
    }
    .intro {
      margin-top: 100px;
    }
  }
}

@media(max-width: 628px){
  .main {
    .intro_title {
      font-size: 28px;
      line-height: 33px;
    }
    .intro_img {
      max-width: 190px;
      border: 4px solid transparent;
    }
    .intro {
      margin-top: 100px;
    }
  }
}

@media(max-width: 550px){}

@media(max-width: 480px){
  .main {
    .intro_title {
      font-size: 26px;
      line-height: 29px;
    }
    .intro_img {
      max-width: 140px;
      border: 4px solid transparent;
    }
    .intro {
      margin-top: 100px;
    }
  }
}

@media(max-width: 425px){}

@media(max-width: 375px){}