$solid_heading: #42446e;
$solid_heading_dark: #CCCCCC;
$gradient_heading: linear-gradient(90deg, #13b0f5 -2.06%, #e70faa 100%);
$dark_content: #666666;
$light_content: #A7A7A7;
$light_titles: #d9d9d9;