@import '../../style/variables.scss';

.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  font-family: 'DM Sans', sans-serif;
  margin-top: 240px;

  .top_footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;

    .logo {
      font-family: 'Josefin Sans';
      font-style: normal;
      font-weight: 400;
      font-size: 40px;
      letter-spacing: -1px;
      color: $dark_content;
    }

    .contacts {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      max-width: 645px;

      .contacts_link {
        font-weight: 400;
        font-size: 18px;
        line-height: 26px;
        color: $dark_content;
        transition: all 0.2s ease 0s;

        &:hover {
          opacity: 0.6;
        }
      }

      .contacts_social {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        max-width: 130px;
        .social_link {
          transition: all 0.2s ease 0s;

          &:hover {
            opacity: 0.6;
          }
        }
        path {
          fill: $dark_content;
        }

      }
    }
  }

  .line {
    display: block;
    width: 100%;
    opacity: 0.3;
    height: 2px;
    background-color: $dark_content;
    margin: 53px 0 60px;
  }

  .bottom_footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 60px;

    .menu_list {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      max-width: 554px;

      .menu_link {
        font-weight: 500;
        font-size: 20px;
        line-height: 26px;
        color: $dark_content;
        transition: all 0.2s ease 0s;

        &:hover {
          opacity: 0.6;
        }
      }
    }

    .copyright {
      font-family: 'Poppins';
      font-style: normal;
      font-weight: 400;
      font-size: 18px;
      line-height: 26px;
      color: $dark_content;
      display: flex;
      align-items: center;
      .developers {
        background: $gradient_heading;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        transition: all 0.2s ease 0s;

        &:hover {
          opacity: 0.6;
        }
      }
    }
  }
}

.footer.dark {
  .logo {
    color: $light_content;
  }
  .top_footer {
    .contacts {
      .contacts_link {
        color: $light_content;
      }
      .contacts_social {
        path {
          fill: $light_content;
        }
      }
    }
  }
  .line {
    background-color: $solid_heading;
  }
  .bottom_footer {
    .menu_list {
      .menu_link {
        color: $light_content;
      }
    }
  }
  .copyright {
    color: $light_content;
  }
}
